<div>
  ty wink a si {{p.prenom}} {{p.nom}} : {{p.num}} 
  <ul>
    <li *ngFor="let elt of Notes; let i = index; let isFirst =
    first">
    {{ i }} : {{ elt }} : {{ isFirst }}
    </li>
  </ul>
  <ul>
    <li *ngFor="let p of personnes; let i=index;">
      <h3>{{ p.num }} </h3>
      <p>Age: {{ (p.nom).toUpperCase() }}</p>
      <p>Email: {{ p.prenom }} </p>
    </li>
  </ul>
  <ul>
    <li *ngIf="Notes[Notes.length-1]%2==0">
    {{ Notes[Notes.length-1] }} : even
    </li>
    <li *ngIf="Notes[Notes.length-1]%2==1">
      {{ Notes[Notes.length-1] }} : odd
      </li>
  </ul>
  <ul>
    <li *ngFor="let n of Notes; let i=index;">
      {{ i }} : {{ n }} {{i%2==0 ? 'even' : 'odd'}}
    </li>
  </ul>
  <ul>
    <li *ngFor="let valeur of Notes">{{valeur}} - {{getMessage(valeur)}}</li>
  </ul>
  <p *ngFor="let valeur of Notes let i=index;" [ngClass]="{'rouge':Notes[i]>=10,'blue':Notes[i]<10}">
    {{ valeur }}
  </p>  
  <ul>
    <li *ngFor="let p of personnes; let i=index;" [ngClass]="{'rouge':i%2==0,'blue':i%2==1}">
      <p>Age: {{ p.nom }} , Email: {{ p.prenom }}</p>
    </li>
  </ul>
  <!-- <ng-container>
    <li [ngClass]="{'rouge':elt<10,'blue':elt>=10}">
      {{ elt }}}
    </li>
  </ng-container> -->
  <ng-container *ngFor="let elt of personnes; let isEven=even; let isOdd=odd">
    <li [ngClass]="{'rouge':isEven,'blue':isOdd}">
    {{elt|json}}
    {{elt.nom}} {{elt.prenom}}
    </li>
  </ng-container>
</div>